{% extends "layout.html" %}

{% block content %}

    {% block head %}
        <title>Sobre Leonardo Jesus</title>
    {% endblock %}

    <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/21048049?s=400&u=235dd059e0607a85e18522b6c906fef968dac12d&v=4" alt="Leo Jesus">
        <h1>Leonardo Jesus</h1>
        <h2>Aluno - Rocketseat</h2>
        <p>Futuro programador full-stack. Servidor no
            <a href="http://www.tre-sp.jus.br" target="_blank">TRE-SP</a>
        </p>
    </div>
    <div id="links-fotter" class="links">
        <a href="https://github.com/leo-jesus/" target="_blank">Sobre</a>
        <a href="https://www.twitter.com/llxdgb1" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/leonardo-jesus-226a97112/" target="_blank">Linkedin</a>
    </div>

{% endblock %}